@import "./colors";
@font-face {
  font-family: "Karla";
  font-weight: 200 800;
  src: url("~/static/Karla-VariableFont_wght.ttf") format("truetype");
  font-display: swap;
}


$family-sans-serif: "Karla", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$family-primary: $family-sans-serif;

$navbar-background-color: $background;
$body-background-color: $ui3-lightYellow;
$menu-item-hover-background-color: $ui3-beet;
$progress-border-radius: 0;

//// Dropdown
$dropdown-content-radius: 0;
$dropdown-content-shadow: inset 0 0 0 1px black;
$dropdown-item-hover-color: $white;
$dropdown-item-hover-background-color: $ui3-beet;
$dropdown-content-offset: 0;

// Buefy configs
//// rate
$rate-color-active: $ui3-yellow;
//// toast
$toast-border-radius: 0;
$toast-opacity: 1;
$toast-box-shadow: none;
//// sidebar
$sidebar-box-shadow: 0 0 0 2px $black;
//// navbar
$navbar-breakpoint: $tablet;


// Table
$table-background-color: $ui3-lightYellow;
$table-row-hover-background-color: $link;
$table-cell-border: 1px solid $black;
//tr > td:first-child, tr > th:first-child {
//  padding-left: 0;
//}
.table.is-hoverable tbody tr:not(.is-selected):hover {
  color: $white;
  a {
    color: $white
  }
}


table.table {
  td, th {
    vertical-align: middle;
    white-space: nowrap;
    text-overflow:ellipsis;
    overflow: hidden;
  }
}

// Typography
$title-color: $black;
$title-size: 4rem;
$title-weight: 800;
* {
  letter-spacing: -.08rem;
}
.title {
  letter-spacing: -.2rem;
  &.is-size-6 {
    letter-spacing: -.1rem;
  }
}

// page transition
//page-enter-active, .page-leave-active {
//  transition: all .20s ease-out;
//}
//.page-enter, .page-leave-active {
//  opacity: 0;
//  transform-origin: 50% 50%;
//}

// Flex extensions
.gap-0 {
  gap: 0;
}
.gap-1 {
  gap: 0.25rem
}
.gap-2 {
  gap: 0.5rem
}
.gap-3 {
  gap: 0.75rem
}
.gap-4 {
  gap: 1rem
}
.gap-5 {
  gap: 1.5rem
}
.gap-6 {
  gap: 3rem
}

// Lists and maps
$custom-colors: null !default;
$custom-shades: null !default;

::-webkit-scrollbar {
  /* This is the magic bit for WebKit */
  display: none;
}

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: mergeColorMaps(
    (
        "white": (
            $white,
            $black,
        ),
        "black": (
            $black,
            $white,
        ),
        "light": (
            $light,
            $light-invert,
        ),
        "dark": (
            $dark,
            $dark-invert,
        ),
        "primary": (
            $primary,
            $primary-invert,
            $primary-light,
            $primary-dark,
        ),
        "link": (
            $link,
            $link-invert,
            $link-light,
            $link-dark,
        ),
        "info": (
            $info,
            $info-invert,
            $info-light,
            $info-dark,
        ),
        "success": (
            $success,
            $success-invert,
            $success-light,
            $success-dark,
        ),
        "warning": (
            $warning,
            $warning-invert,
            $warning-light,
            $warning-dark,
        ),
        "danger": (
            $danger,
            $danger-invert,
            $danger-light,
            $danger-dark,
        ),
    ),
    $custom-colors
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Import Bulma and Buefy styles
@import "~bulma/sass/utilities/_all";
@import "~bulma";
@import "~buefy/src/scss/buefy";
