@import "~bulma/sass/utilities/derived-variables";
@font-face {
  font-family: "Karla";
  font-weight: 700;
  src: url("~/assets/scss/Karla-VariableFont_wght.ttf") format("truetype");
}

$ui3-lightYellow: #fefbe5;
$ui3-yellow: #feb601;
$ui3-orange: #fc3b00;
$ui3-red: #fc0000;
$ui3-beet: #da0039;
$ui3-fuchsia: #81023f;
// Set your colors
$primary: $ui3-fuchsia;
$primary-light: $ui3-orange;
$primary-dark: $ui3-beet;
$primary-invert: findColorInvert($primary);

$link: $ui3-beet;
$info: $cyan;
$success: $green;
$warning: $yellow;
$danger: $ui3-red;
$dark: $grey-darker;
$text: $black;



$family-sans-serif: "Karla", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
body, button, input, optgroup, select, textarea {
  font-family: $family-sans-serif;
}
$background: $ui3-lightYellow;
$navbar-background-color: $background;
$body-background-color: $ui3-lightYellow;
$menu-item-hover-background-color: $ui3-beet;
$progress-border-radius: 0;

// Table
$table-background-color: $ui3-lightYellow;
$table-row-hover-background-color: $ui3-yellow;
$table-cell-border: 1px solid $black;
tr > td:first-child, tr > th:first-child {
  padding-left: 0;
}


// Typography
$title-color: $black;
$title-size: 4rem;
$title-weight: $weight-bold;
* {
  letter-spacing: -.08rem;
  font-weight: 600;
}
.title {
  letter-spacing: -3px;
}

// Lists and maps
$custom-colors: null !default;
$custom-shades: null !default;

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: mergeColorMaps(
    (
        "white": (
            $white,
            $black,
        ),
        "black": (
            $black,
            $white,
        ),
        "light": (
            $light,
            $light-invert,
        ),
        "dark": (
            $dark,
            $dark-invert,
        ),
        "primary": (
            $primary,
            $primary-invert,
            $primary-light,
            $primary-dark,
        ),
        "link": (
            $link,
            $link-invert,
            $link-light,
            $link-dark,
        ),
        "info": (
            $info,
            $info-invert,
            $info-light,
            $info-dark,
        ),
        "success": (
            $success,
            $success-invert,
            $success-light,
            $success-dark,
        ),
        "warning": (
            $warning,
            $warning-invert,
            $warning-light,
            $warning-dark,
        ),
        "danger": (
            $danger,
            $danger-invert,
            $danger-light,
            $danger-dark,
        ),
    ),
    $custom-colors
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Import Bulma and Buefy styles
@import "~bulma/sass/utilities/_all";
@import "~bulma";
@import "~buefy/src/scss/buefy";
